<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.8" targetFramework="portable-net45+win+wpa81" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="portable-net45+win+wpa81" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="portable-net45+win+wpa81" />
</packages>